In [5]:
import pandas as pd
impdata = pd.read_csv('cost_to_fix_1.csv')
impdata.head(12)

,Unnamed: 0,avg cost of surgery,average age,rehab time,common surgery,revision
0,Massachusetts,52815.0,44,7.0,knee,0.219583
1,Rhode Island,53869.0,56,7.0,knee,0.375104
2,Connecticut,41611.0,67,4.0,hip,NaN
3,New Hampshire,35669.0,37,NaN,knee,0.415790
4,Maryland,43376.0,64,7.0,NaN,0.628458
5,Delaware,43608.0,33,8.0,hip,0.889568
6,New Jersey,52806.0,35,4.0,hip,0.762802
7,New York,NaN,52,4.0,knee,0.206642
8,Virginia,46417.0,50,7.0,hip,0.855596
9,South Carolina,52476.0,50,4.0,knee,0.417830
10,Georgia,42465.0,31,4.0,knee,NaN
11,Florida,49750.0,42,5.0,knee,0.708457